.update_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  margin-top: 8rem;
}

.update_form_container h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3rem;
  color: var(--color-primary);
}

.update_form {
  width: 60%;
}

.update_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
