.tab_container {
  max-width: 1000px;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  padding: 3rem;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 0.3s ease;
}

.tab:hover {
  transform: translateY(-3px);
}

.tab span:first-child {
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
}

.tab span:last-child {
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Poppins";
}

.download_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.download_section img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.downloads {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5rem;
  margin-top: 2rem;
}

.downloads span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
  position: relative; /* To position the pseudo-element */
}

.downloads span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d2a765; /* Change to your desired color */
  transition: width 0.5s ease-in-out;
}

.downloads span:hover::after {
  width: 100%;
}

.video_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 8rem 0;
}

@media (max-width: 992px) {
  .tab_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
