/* @ SHOW OR HIDE PASSWORD EYE ICON */
.showPasswordButton {
  position: absolute;
  right: 10px;
  top: 38px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-primary);
}

@media (max-width: 468px) {
  .showPasswordButton {
    top: 34px;
    font-size: 1.2rem;
  }
}
