.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-light);
}

/* @ LOGIN CONTAINER */
.loginBox {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 35rem;
  text-align: center;
}

.loginBox h2 {
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-size: 3rem;
}

/* @ SUCCESS TEXT */
.successText {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-success);
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 468px) {
  .loginBox {
    padding: 2rem;
    width: 30rem;
  }

  .loginBox h2 {
    margin-bottom: 1rem;
    color: var(--color-primary);
    font-size: 2rem;
  }
}
